body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(140deg, rgb(152, 3, 3) 0%, rgb(207, 15, 15) 50%, rgb(233, 76, 37) 100%);
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
}

h1 {
    position: absolute;
    top: 5%; /* 5% from top of the screen */
    left: 50%; /* 50% from left of the screen */
    transform: translateX(-50%);
    font-size: 9.4vmin;
    color: rgb(17, 17, 17);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.whiteWord {
    color: white;
}

.blackWord {
    color: black;
}

.whiteWord,
.blackWord {
    transition: color 1s ease;
}

.mask {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    height: 45%;
    object-fit: contain;
}

#StartBt
{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5.64vmin;
    background-color: transparent;
    border: none;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    color: white;
}
